<template>
  <div class="flex mb-4 items-center">
    <p :class="{
              'line-through': todo.done
          }" class="w-full text-gray-900" v-if="!isEditing">{{todo.description}}</p>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-gray-700" v-else v-model="description" />
    <button
      @click="toggleDone(todo.id)"
      class="flex p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green-500 border-green-500 hover:bg-green-500"
      v-if="!todo.done"
    >Fait</button>
    <button
      @click="toggleDone(todo.id)"
      class="flex p-2 ml-4 mr-2 border-2 rounded hover:text-white text-gray-500 border-gray-500 hover:bg-gray-500"
      v-else-if="todo.done"
    >Pas fait</button>
    <button
      @click="deleteTodo(todo.id)"
      class="flex p-2 ml-2 border-2 rounded text-red-500 border-red-500 hover:text-white hover:bg-red-500"
      v-if="!isEditable"
    >Supprimer</button>
    <button
      @click="$router.push({ name: 'todo', params: { id: todo.id } })"
      class="flex p-2 ml-2 border-2 rounded text-green-500 border-green-500 hover:text-white hover:bg-green-500"
      v-if="!isEditable"
    >Edit Page</button>
    <button
      @click="toggleEdit()"
      class="flex p-2 ml-2 border-2 rounded text-green-500 border-green-500 hover:text-white hover:bg-green-500"
      v-if="isEditable"
    >Edit</button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      isEditing: false,
      description: this.todo.description,
    };
  },
  props: {
    todo: {
      id: Number,
      done: Boolean,
      description: String,
    },
    isEditable: Boolean,
  },
  methods: {
    ...mapActions(["toggleDone", "deleteTodo", "editTodo"]),
    toggleEdit() {
      if (this.isEditing) {
        this.editTodo({
          ...this.todo,
          description: this.description
        });
      }
      this.isEditing = !this.isEditing;
    },
  },
};
</script>